In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
df = pd.read_csv(r'C:\Users\DELL\Desktop\drugs.csv')
df

     Age Sex      BP Cholesterol   Drug
0     23   F    HIGH        HIGH  drugE
1     47   M     LOW        HIGH  drugC
2     47   M     LOW        HIGH  drugC
3     28   F  NORMAL        HIGH  drugD
4     61   F     LOW        HIGH  drugE
..   ...  ..     ...         ...    ...
195   56   F     LOW        HIGH  drugC
196   16   M     LOW        HIGH  drugC
197   52   M  NORMAL        HIGH  drugD
198   23   M  NORMAL      NORMAL  drugD
199   40   F     LOW      NORMAL  drugD

[200 rows x 5 columns]

In [3]:
df.head()

   Age Sex      BP Cholesterol   Drug
0   23   F    HIGH        HIGH  drugE
1   47   M     LOW        HIGH  drugC
2   47   M     LOW        HIGH  drugC
3   28   F  NORMAL        HIGH  drugD
4   61   F     LOW        HIGH  drugE

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Drug         200 non-null    object
dtypes: int64(1), object(4)
memory usage: 7.9+ KB
None

In [5]:
df.Drug.value_counts()

drugE    91
drugD    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [6]:
df.describe()

              Age
count  200.000000
mean    44.315000
std     16.544315
min     15.000000
25%     31.000000
50%     45.000000
75%     58.000000
max     74.000000

In [7]:
bin_age = [0, 19, 29, 39, 49, 59, 69, 80]
category_age = ['<20s', '20s', '30s', '40s', '50s', '60s', '>60s']
df['Age_binned'] = pd.cut(df['Age'], bins=bin_age, labels=category_age)
df = df.drop(['Age'], axis = 1)

In [8]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [9]:
X = df.drop(["Drug"], axis=1)
y = df["Drug"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [10]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [11]:
X_train.head()

,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL,Age_binned_<20s,Age_binned_20s,Age_binned_30s,Age_binned_40s,Age_binned_50s,Age_binned_60s,Age_binned_>60s
131,0,1,0,1,0,0,1,0,0,0,0,1,0,0
96,1,0,0,1,0,1,0,0,0,0,0,1,0,0
181,1,0,0,0,1,1,0,0,0,0,0,1,0,0
19,1,0,1,0,0,0,1,0,0,1,0,0,0,0
153,1,0,0,1,0,0,1,0,0,0,0,0,0,1

In [12]:
X_test.head()

,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL,Age_binned_<20s,Age_binned_20s,Age_binned_30s,Age_binned_40s,Age_binned_50s,Age_binned_60s,Age_binned_>60s
18,0,1,0,1,0,1,0,0,1,0,0,0,0,0
170,1,0,0,0,1,1,0,0,1,0,0,0,0,0
107,0,1,0,1,0,1,0,0,0,0,1,0,0,0
98,0,1,1,0,0,0,1,0,1,0,0,0,0,0
177,0,1,0,0,1,1,0,0,1,0,0,0,0,0

In [13]:
from sklearn.naive_bayes import GaussianNB
NBclassifier2 = GaussianNB()
NBclassifier2.fit(X_train, y_train)

y_pred = NBclassifier2.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

from sklearn.metrics import accuracy_score
NBAcc2 = accuracy_score(y_pred,y_test)
print('Gaussian Naive Bayes accuracy is: {:.2f}%'.format(NBAcc2*100))

              precision    recall  f1-score   support

       drugA       0.38      1.00      0.56         5
       drugB       0.43      1.00      0.60         3
       drugC       0.50      1.00      0.67         4
       drugD       0.56      1.00      0.72        18
       drugE       0.00      0.00      0.00        30

    accuracy                           0.50        60
   macro avg       0.38      0.80      0.51        60
weighted avg       0.26      0.50      0.34        60

[[ 5  0  0  0  0]
 [ 0  3  0  0  0]
 [ 0  0  4  0  0]
 [ 0  0  0 18  0]
 [ 8  4  4 14  0]]
Gaussian Naive Bayes accuracy is: 50.00%

C:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [14]:
from sklearn.tree import DecisionTreeClassifier
DTclassifier = DecisionTreeClassifier(max_leaf_nodes=20)
DTclassifier.fit(X_train, y_train)

y_pred = DTclassifier.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

from sklearn.metrics import accuracy_score
DTAcc = accuracy_score(y_pred,y_test)
print('Decision Tree accuracy is: {:.2f}%'.format(DTAcc*100))

              precision    recall  f1-score   support

       drugA       0.33      0.40      0.36         5
       drugB       0.50      1.00      0.67         3
       drugC       0.33      0.25      0.29         4
       drugD       0.57      0.94      0.71        18
       drugE       0.53      0.27      0.36        30

    accuracy                           0.52        60
   macro avg       0.45      0.57      0.48        60
weighted avg       0.51      0.52      0.47        60

[[ 2  0  0  0  3]
 [ 0  3  0  0  0]
 [ 0  0  1  0  3]
 [ 0  0  0 17  1]
 [ 4  3  2 13  8]]
Decision Tree accuracy is: 51.67%

In [15]:
compare = pd.DataFrame({'Model': ['Gaussian NB', 'Decision Tree'], 
                        'Accuracy': [ NBAcc2*100, DTAcc*100]})
compare.sort_values(by='Accuracy', ascending=False)

           Model   Accuracy
1  Decision Tree  51.666667
0    Gaussian NB  50.000000